.hover-change-bg:hover {
  background-color: var(--bs-theme-bg-secondary) !important;
  color: var(--bs-theme-bg-white) !important;
}

.btn-outline-primary {
  border-color: var(--bs-theme-bg-secondary) !important;
  color: var(--bs-theme-bg-secondary) !important;
  background-color: var(--bs-theme-bg-transparent) !important;
}
