#clents-slider {
    height: 100px;
    width: 100%;
    background-color: var(--bs-theme-bg-transparent);
}

.react-multiple-carousel__arrow--left {
    display: none !important;
}

.react-multiple-carousel__arrow--right {
    display: none !important;
}


