#footer {
  background-color: var(--bs-theme-bg-light-primary);
}

#footer .footer-top {
  background-color: var(--bs-theme-bg-primary) !important;
  color: var(--bs-theme-bg-white);
}

#footer .footer-top .social-links a:hover {
  background: var(--bs-theme-bg-light-primary);
  color: var(--bs-theme-bg-white);
  text-decoration: none;
}

#footer .footer-top .social-links a {
  background-color: var(--bs-theme-bg-secondary);
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: var(--bs-theme-bg-white) !important;
}

#footer .footer-top h4 {
  color: var(--bs-theme-bg-white);
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--bs-theme-bg-white) !important;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li a {
  color: var(--bs-theme-bg-white);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul li:hover a {
  color: var(--bs-theme-bg-dark) !important;
  transition: 1s;
}
